<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - RaroBank</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>
<body>
    <header class="header">
        <h1>RaroBank</h1>
    </header>

    <div class="aviso_login">
        <p>O Login e senha nesta etapa são fictícios, sendo apenas para simulação do funcionamento do sistema.</p>
        <p>Para acessar, use o login: admin e senha: admin</p>
    </div>

    <div class="container">
        <div class="login-container">
            <h2>Login</h2>
            <form class="login-form" method="post">
                {% csrf_token %}
                <input type="text" name="usuario" placeholder="Usuário" required>
                <input type="password" name="senha" placeholder="Senha" required>
                <button type="submit">Entrar</button>
            </form>
            {% if messages %}
                <ul class="messages-list">
                    {% for message in messages %}
                        <li class="messages {{ message.tags }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>

    <footer class="footer">
        <p>&copy; 2023 RaroBank. Todos os direitos reservados. ass. Willian Augusto - Raro Academy</p>
    </footer>
</body>
</html>
