<div id="modal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Cadastrar Cliente</h2>
        <form action="{% url 'cadastrar_cliente' %}" method="post">
            {% csrf_token %}
            <input type="text" name="nome" placeholder="Nome" maxlength="100" pattern="[A-Za-z ]+" required>
            <input type="text" name="cpf" placeholder="CPF: Somente números" maxlength="11" pattern="[0-9]{11}">
            <input type="date" name="data_nascimento" placeholder="Data de Nascimento" required>
            <input type="tel" name="telefone" placeholder="Telefone: Somente números" maxlength="11" pattern="[0-9]{11}" required>
            <input type="number" name="renda_mensal" placeholder="Renda Mensal" step="0.01" required>
            <button type="submit">Cadastrar</button>
        </form>
    </div>
</div>